.content-container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.content-container-description {
    margin: 0;
    padding: 0;
    width: 100%;

    text-align: center;
    font-family: Arial;
    font-size: 16px;
    color: #303844;
}
.content-container > .half-width-cell {
    position: relative;
    width: 50%;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}